body {
    background-color: aqua;
}
#header {
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
}
#soekarno {
    text-decoration: underline;
    font-weight: bolder;
}
.gambar {
    text-align: center;
}
.isi {
    background-color: aquamarine;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
.jawa {
    font-style: italic;
    font-weight: bold;
}
#profil {
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
#beternak {
    background-color: aquamarine;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.koleksi {
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
}
.promo {
    background-color: aquamarine;
    border-radius: 10px;
    width: auto;
    margin-left: 30%;
    margin-right: 32%;
}